body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
  background-color: #000;
}

span {
  visibility: hidden;
  position: absolute;
  font-size: 24px;
  font-family: serif;
  line-height: 125%;
}

canvas {
  image-rendering: pixelated;

  position: absolute;
  height: 100%;
  padding-left: 100%;

  animation: marquee 30s linear infinite;
  /* display: grid; */
  /* place-items: center; */
}

@keyframes marquee {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-100%);
  }
}

.filter {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(#000 0%, #0000 20%, #0000 80%, #000 100%),
    linear-gradient(90deg, #000 0%, #0000 50%, #000 100%);
  background-size: 4vh 4vh;
  z-index: 100;
}
